.App {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center; 
  /* background-image: url('./Assets/confetti.gif') */
}

.site-container{
  margin-top: 2rem;
}

.chatbot-container {
  margin-top: 1rem;
  border-radius: 15px;
  box-shadow: 0px 4px 2px -2px lightgray;
}

.bot-hed-row {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  color: white;
  background: linear-gradient(45deg, #9D50BB, #6E48AA);
  justify-content: space-around;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.bot-name {
  margin-bottom: 1px;
  margin-top: 1rem;
}

.bot-status {
  margin-top: 1px;
}

.dot{
  height: 25px;
  width: 25px;
  background-color: rgb(16, 150, 45);
  border-radius: 50%;
  display: inline-block;
  animation: blink-animation .2s alternate infinite;
  animation-direction: alternate;
  -webkit-animation: blink-animation .7s alternate infinite;
}

@keyframes blink-animation {
  0% {
    background-color: rgba(16, 150, 45, .4);
  }
  50% {
    background-color: rgba(16, 150, 45, .65);
  }
  
  100% {
    background-color: rgba(16, 150, 45, .9);
  }
}

  .chatbot-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    background-image: url('./Assets/what-the-hex.png');
    overflow-y: auto;
    scrollbar-width: none;  /* Firefox */
    padding: 1rem;
    padding-right: 15px;
    border-bottom: 3px solid silver;
    height: 60vh;
  }

@media screen and (min-width: 950px){
  .chatbot-row{
    height: 60vh;
    width: 30rem;
  }
} 
  
@media screen and (min-width: 100px) and (max-width: 949px) {
  .chatbow-row{
  width: 20rem;
  } 
}

.load-images{
  display: none;
}

.input-row {
  margin-left: 25%;
  margin-bottom: 1rem;
}

input{
  border: 2px solid darkblue;
  border-radius: 25px;
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
}

input:focus{
  outline: none;
  border: 2px solid lightblue;
  border-radius: 25px;
  box-shadow: 0px 0px 20px 3px palegoldenrod;
}


.message-row {
  max-width: 30rem;
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bot-text{
  background: linear-gradient(45deg, #9D50BB, #6E48AA);
  color: white;
  width: 140%;
  display: inline-block;
  border-radius: 25px;
  padding: 7px;
  padding-left: 15px;
  box-shadow: 2px 2px 2px rgb(179, 178, 178);
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#bot-logo{
  float: left;
  position: relative;
  height: 56px;
}

.human-text{
  color: white;
  margin-left: 55%;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  width: 100%;
  display: inline-block;
  border-radius: 25px;
  padding: 7px;
  padding-left: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 2px 2px 2px rgb(179, 178, 178);
}

.reply-col{
  margin-left: 3rem;
}

#choice-btn {
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  border: none;
  box-shadow: 2px 2px 2px rgb(179, 178, 178);
  border-radius: 25px;
  margin-left: 2rem;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

::-webkit-scrollbar {
  width: 0px;  /* Removes scrollbar space */
  background: transparent;  /* Makes scrollbar invisible */
}


